- var node = "../node_modules";

html
  head
    block title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // base(href="/views")    
    link(rel='stylesheet' href='#{node}/c3/c3.min.css')
    script(src='#{node}/babel-polyfill/dist/polyfill.min.js')
    
  body
    block body

    script(src='../bundles/webpack.bundle.js')